<div class="formPageContainer" ng-controller="dashboardCtrl as dash">
    <section class="contentHeader">
        <h1>
            Dashboard
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-tachometer"></i> Dashboard</li>
        </ol>
    </section>
    <div class="contentBody dashboardBody">
        <!--<img src="assets/img/logo2.png" alt="NHVPS"/>-->
        <h5>Welcome To</h5>
        <h1>{{schoolName}}</h1>
    </div>
    

</div>