.receiptPageHeader .contentRight{
        width: 420px;
        max-width:100%;
}
#content-block{
    background:#fff;
}
.col-md-10.receiptPageCont {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.contentHeader, button,.btn{
    display:none;
}
#content-block.fullWidthContent {
    padding-left: 0;
}
#content-block .contentBody{
    margin:0;
    padding:0;
}
.page-break { display: block; page-break-before: always; }
.noSplitSection{
    page-break-inside: avoid;
}
.pageBreakPrnt {
    page-break-after: always;
}


/****Reports page**/
.reportPage .subjectTableContainer table.table td, .reportPage .subjectTableContainer table.table th {
        padding: 5px 5px;
    font-size: 12px;
}
.reportPage .subjectTableContainer {
	margin: 0px 0px 15px 0px;
}